
<details class="comment-wrapper js-comment-wrapper comment-wrapper--deep-&lt;%= comment.depth %&gt; &lt;%= comment_class(comment, is_view_root: is_view_root) %&gt;" open>
      <summary>
        <span class="&lt;% if comment.depth &gt; 0 %&gt;mx-0&lt;% else %&gt;m:mx-1&lt;% end %&gt; inline-block align-middle">
          
          
        </span>
        <span class="js-collapse-comment-content inline-block align-middle"></span>
      </summary>
  
      <div id="comment-node-&lt;%= comment.id %&gt;" class="
          comment single-comment-node
          &lt;%= " low-quality-comment if comment.decorate.low_quality>comment--deep- 3 %&gt; " data-comment-id="" data-path="/comments/" data-comment-author-id="" data-content-user-id=""&gt;</div>
  
    </details>
  

