
<div class="crayons-banner" id="notice" style="padding: 35px 4px">
    
  </div>

<div class="crayons-card mb-6 grid grid-flow-row gap-6 p-6">
  
    <h1>待处理邀请</h1>
    <h3>您可以在将来的任何时候离开频道。</h3>
    
      <div class="crayons-field">
        <h2></h2>
        <p></p>
        
          
          
        
        
          
          
        
      </div>
    
  
    <p>
      <em>您没有待处理的邀请</em>
    </p>
  
</div>
